.line {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  margin: 0;
  overflow: hidden;
}

.lineElement {
  height: 3px;
  width: 100%;
  background: #2196f3;
  &:before {
    content: '';
    display: block;
    background: linear-gradient(to right, #2196f3, #b1d2ee, #2196f3);

    height: 3px;
    width: 50%;
    animation: wave 1s ease-in-out infinite;
  }
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
