.button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 1.2rem 1.2rem;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgba(#000, 0.4);
  transition: transform 200ms ease-in-out;

  transform: translateY(+150%);
}

.show {
  transform: translateY(0);
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-90deg);
  color: #2196f3;
  fill: #2196f3;
}
