.item {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: #fff;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;

  cursor: pointer;
  transition: background-color 100ms ease-in;

  &:hover {
    background-color: rgba(#2196f3, 0.2);
  }
}

.active {
  background-color: #2196f3;
  color: #fff;

  &:hover {
    background-color: #2196f3;
    color: #fff;
  }
}
