.ticketCard {
  padding: 1.5rem 2rem;
  height: 11.8rem;
}

.ticketWrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2196f3;
}

.aviaImg {
  width: 110px;
  grid-area: span 1 / 3;
}
