.ticketSegment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.segmentHeading {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 150%;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #a0b0b9;
}

.segmentContent {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 150%;

  color: #4a4a4a;
}
