.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(#000, 0.1);

  min-width: 2rem;
  min-height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.8rem;
  line-height: 100%;
  white-space: nowrap;

  user-select: none;

  &:hover {
    background-color: rgba(#2196f3, 0.2);
  }
}

.disabled {
  background-color: #ccc;
  color: #000;
  cursor: auto;

  &:hover {
    background-color: #ccc;
  }
}
