.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1rem;
}

@media screen and (max-width: 770px) {
  .main {
    flex-direction: column;
  }
}
