.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;

  & > button {
    width: 2rem;
    height: 2rem;
  }
}

.current {
  background-color: #2196f3;
  color: #fff;

  &:hover {
    background-color: #2196f3;
    color: #fff;
  }
}

.separator {
  font-size: 0.7rem;
  color: #2196f3;
}

.arrow {
  color: #2196f3;
  font-size: 1.2rem;
}
