.switcher {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.active {
  background-color: #2196f3;
  color: #fff;

  &:hover {
    background-color: #2196f3;
    color: #fff;
  }
}
