.wrapper {
  border: none;
  display: flex;
  align-items: center;
  margin: 0;

  transition: background-color 200ms ease-in;

  &:hover {
    background-color: rgba(#2196f3, 0.2);
  }
}

.label {
  width: 100%;
  height: 100%;
  padding: 0.6rem 1.25rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.box {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.box + .label {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &::before {
    content: '';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5rem;
    background-image: url('/assets/icons/uncheck.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.box:checked + .label::before {
  background-image: url('/assets/icons/check.svg');
}
