.empty {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
}
